body {
    background-color: #b8da46;
    font-size: 150%;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    text-align: center;
}

nav {
    color: rgb(19, 69, 102);
    margin: 1.5vh 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

a:hover {
    color: black;
    text-decoration: none;
}

a {
    color: #1f5395;
    text-decoration: none;
}

footer {
    text-align: center;
}